body {
	background-image: url("../images/theater.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	text-align: center;
}

.jumbo-style {
	background-color: #ddb140;
	padding: 10px;
}

#wrapper {
  padding: 5% 0;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 700px;
  margin: 5% auto;
  box-sizing: border-box;
  min-height: 80%;
}

#sub-wrapper {
  position: relative;
  top: 20%;
}

button {
  display: block;
  width: 400px;
  height: 50px;
  margin: 10px auto 0 auto;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 20px;;
}

#start { 
  margin-top: 10%;
  background: #8C001A;
  color: white;
}

#quiz-area h2 { margin-top: 50px; }

button:hover  {
  background: white;
}