body {
	background-image: url("../images/theater.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.jumbo-style {
	background-color: #ddb140;
	padding: 10px;
}